<!doctype html>
<html>
    <head>
    <title>storyMap</title>
    <link rel="stylesheet" media="all" href="css/main.css?v=0.1">
</head>
<body>


    <svg width="2560" height="2560" id="theMap">
        <defs>
            <linearGradient xmlns="http://www.w3.org/2000/svg" id="MyGradient">
                <stop offset="5%" stop-color="#F60"/>
                <stop offset="95%" stop-color="#FF6"/>
            </linearGradient>
            <radialGradient id="radial1" cx="50%" cy="50%" r="50%" fx="5%" fy="5%">
                <stop offset="0%" style="stop-color:rgb(255,0,0); stop-opacity:1"/>
                <stop offset="100%" style="stop-color:rgb(0,0,255); stop-opacity:1"/>
            </radialGradient>
            <radialGradient id="g1" cx="50%" cy="50%" r="50%" fx="10%" fy="50%">
                <stop stop-color = "red" offset = "0%"/>
                <stop stop-color = "green" offset = "100%"/>
            </radialGradient>
        </defs>
    </svg>

    <script src="/js/jquery-2.0.0.min.js"></script> 
	<script src="/js/jquery.jsonp-2.1.4.min.js"></script>
    <script src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
    <script src="/js/storyMap.js?v=0.0.1"></script>


    <script>
        $(document).ready(function() {
            storyMap.init();
        })
    </script>    

</body>
</html>